In [47]:
import pandas as pd

tdf = pd.read_csv('data/2018-11-05-Treatd/twoColumnsOrdered.csv')
tdf = tdf[:5000]
tdf.describe()

             value
count  5000.000000
mean      7.256000
std      11.910535
min       3.000000
25%       4.000000
50%       5.000000
75%       7.000000
max     417.000000

In [57]:
tdf.reindex
for index, row in tdf.iterrows():
    for index2, row2 in tdf.iterrows():
        if (row['term1'].strip()==row2['term2'].strip() and row['term2'].strip()==row2['term1'].strip()):
            tdf.drop(index2, inplace=True)
            break;
        
tdf.describe()

             value
count  2200.000000
mean      7.580455
std      16.417387
min       3.000000
25%       3.000000
50%       4.000000
75%       6.000000
max     417.000000

In [59]:
tdf.to_csv('data/2018-11-13-Treatd/5knoduplicates.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data/2018-11-13-Treatd/5knoduplicates.csv'